*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.15 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.container {
  width: 100%;
}

@media (min-width: 0) {
  .container {
    max-width: 0;
  }
}

@media (min-width: 1000px) {
  .container {
    max-width: 1000px;
  }
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.bottom-\[10px\] {
  bottom: 10px;
}

.left-\[10px\] {
  left: 10px;
}

.z-40 {
  z-index: 40;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-\[1px\] {
  margin-top: 1px;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.h-\[100px\] {
  height: 100px;
}

.h-\[120px\] {
  height: 120px;
}

.h-\[150px\] {
  height: 150px;
}

.h-\[264px\] {
  height: 264px;
}

.h-\[40px\] {
  height: 40px;
}

.h-\[50px\] {
  height: 50px;
}

.h-\[62px\] {
  height: 62px;
}

.h-\[68px\] {
  height: 68px;
}

.h-\[80px\] {
  height: 80px;
}

.h-auto {
  height: auto;
}

.h-\[55px\] {
  height: 55px;
}

.w-1\/2 {
  width: 50%;
}

.w-\[100\%\] {
  width: 100%;
}

.w-\[120px\] {
  width: 120px;
}

.w-\[1336px\] {
  width: 1336px;
}

.w-\[150px\] {
  width: 150px;
}

.w-\[190px\] {
  width: 190px;
}

.w-\[250px\] {
  width: 250px;
}

.w-\[260px\] {
  width: 260px;
}

.w-\[270px\] {
  width: 270px;
}

.w-\[66px\] {
  width: 66px;
}

.w-\[68px\] {
  width: 68px;
}

.w-\[80px\] {
  width: 80px;
}

.w-\[inherit\] {
  width: inherit;
}

.w-full {
  width: 100%;
}

.w-\[125px\] {
  width: 125px;
}

.max-w-4xl {
  max-width: 56rem;
}

.max-w-5xl {
  max-width: 64rem;
}

.max-w-6xl {
  max-width: 72rem;
}

.max-w-7xl {
  max-width: 80rem;
}

.max-w-\[1172px\] {
  max-width: 1172px;
}

.max-w-\[1336px\] {
  max-width: 1336px;
}

.-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer {
  cursor: pointer;
}

.grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-0 {
  gap: 0px;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-6 {
  gap: 1.5rem;
}

.rounded-\[25px\] {
  border-radius: 25px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.border {
  border-width: 1px;
}

.border-2 {
  border-width: 2px;
}

.border-t-2 {
  border-top-width: 2px;
}

.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity, 1));
}

.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity, 1));
}

.border-purple-500 {
  --tw-border-opacity: 1;
  border-color: rgb(168 85 247 / var(--tw-border-opacity, 1));
}

.bg-\[\#F0F0F1\] {
  --tw-bg-opacity: 1;
  background-color: rgb(240 240 241 / var(--tw-bg-opacity, 1));
}

.bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-\[\#029A49\] {
  --tw-bg-opacity: 1;
  background-color: rgb(2 154 73 / var(--tw-bg-opacity, 1));
}

.object-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.p-4 {
  padding: 1rem;
}

.p-\[10px\] {
  padding: 10px;
}

.px-14 {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2\.5 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.font-\[sans\] {
  font-family: sans;
}

.font-sans {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.text-\[12px\] {
  font-size: 12px;
}

.text-\[13px\] {
  font-size: 13px;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[25px\] {
  font-size: 25px;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-black {
  font-weight: 900;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.leading-none {
  line-height: 1;
}

.leading-relaxed {
  line-height: 1.625;
}

.text-\[\#2b2b2b\] {
  --tw-text-opacity: 1;
  color: rgb(43 43 43 / var(--tw-text-opacity, 1));
}

.text-\[\#F9BC00\] {
  --tw-text-opacity: 1;
  color: rgb(249 188 0 / var(--tw-text-opacity, 1));
}

.text-gray-300 {
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity, 1));
}

.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity, 1));
}

.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity, 1));
}

.text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity, 1));
}

.text-gray-800 {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity, 1));
}

.text-green-600 {
  --tw-text-opacity: 1;
  color: rgb(22 163 74 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-200 {
  transition-duration: 200ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.ease-linear {
  transition-timing-function: linear;
}

.hover\:bg-green-700:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(21 128 61 / var(--tw-bg-opacity, 1));
}

.hover\:text-red-600:hover {
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity, 1));
}

@media (min-width: 0) {
  .mobile\:fixed {
    position: fixed;
  }

  .mobile\:relative {
    position: relative;
  }

  .mobile\:bottom-\[10px\] {
    bottom: 10px;
  }

  .mobile\:left-1\/2 {
    left: 50%;
  }

  .mobile\:bottom-0 {
    bottom: 0px;
  }

  .mobile\:z-40 {
    z-index: 40;
  }

  .mobile\:mx-4 {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .mobile\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .mobile\:mb-4 {
    margin-bottom: 1rem;
  }

  .mobile\:mb-\[4px\] {
    margin-bottom: 4px;
  }

  .mobile\:mt-\[4px\] {
    margin-top: 4px;
  }

  .mobile\:mb-\[20px\] {
    margin-bottom: 20px;
  }

  .mobile\:mb-\[40px\] {
    margin-bottom: 40px;
  }

  .mobile\:block {
    display: block;
  }

  .mobile\:flex {
    display: flex;
  }

  .mobile\:grid {
    display: grid;
  }

  .mobile\:hidden {
    display: none;
  }

  .mobile\:h-\[134px\] {
    height: 134px;
  }

  .mobile\:h-\[240px\] {
    height: 240px;
  }

  .mobile\:h-\[25px\] {
    height: 25px;
  }

  .mobile\:h-\[30px\] {
    height: 30px;
  }

  .mobile\:h-\[500px\] {
    height: 500px;
  }

  .mobile\:h-\[550px\] {
    height: 550px;
  }

  .mobile\:h-\[55px\] {
    height: 55px;
  }

  .mobile\:h-\[75px\] {
    height: 75px;
  }

  .mobile\:h-full {
    height: 100%;
  }

  .mobile\:w-\[100\%\] {
    width: 100%;
  }

  .mobile\:w-\[125px\] {
    width: 125px;
  }

  .mobile\:w-\[25px\] {
    width: 25px;
  }

  .mobile\:w-\[340px\] {
    width: 340px;
  }

  .mobile\:w-\[55px\] {
    width: 55px;
  }

  .mobile\:w-\[75px\] {
    width: 75px;
  }

  .mobile\:w-\[80\%\] {
    width: 80%;
  }

  .mobile\:w-\[999px\] {
    width: 999px;
  }

  .mobile\:w-full {
    width: 100%;
  }

  .mobile\:w-\[270px\] {
    width: 270px;
  }

  .mobile\:flex-grow {
    flex-grow: 1;
  }

  .mobile\:cursor-pointer {
    cursor: pointer;
  }

  .mobile\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .mobile\:grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .mobile\:grid-rows-3 {
    grid-template-rows: repeat(3, minmax(0, 1fr));
  }

  .mobile\:items-center {
    align-items: center;
  }

  .mobile\:justify-start {
    justify-content: flex-start;
  }

  .mobile\:justify-center {
    justify-content: center;
  }

  .mobile\:gap-2 {
    gap: 0.5rem;
  }

  .mobile\:gap-4 {
    gap: 1rem;
  }

  .mobile\:gap-x-6 {
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
  }

  .mobile\:space-y-\[4px\] > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(4px * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(4px * var(--tw-space-y-reverse));
  }

  .mobile\:rounded-full {
    border-radius: 9999px;
  }

  .mobile\:rounded-lg {
    border-radius: 0.5rem;
  }

  .mobile\:rounded-\[25px\] {
    border-radius: 25px;
  }

  .mobile\:bg-\[\#029A49\] {
    --tw-bg-opacity: 1;
    background-color: rgb(2 154 73 / var(--tw-bg-opacity, 1));
  }

  .mobile\:bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
  }

  .mobile\:bg-transparent {
    background-color: transparent;
  }

  .mobile\:object-cover {
    -o-object-fit: cover;
       object-fit: cover;
  }

  .mobile\:px-11 {
    padding-left: 2.75rem;
    padding-right: 2.75rem;
  }

  .mobile\:px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .mobile\:py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .mobile\:pt-2 {
    padding-top: 0.5rem;
  }

  .mobile\:text-\[9px\] {
    font-size: 9px;
  }

  .mobile\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .mobile\:outline-none {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }

  .mobile\:placeholder\:text-gray-500::-moz-placeholder {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity, 1));
  }

  .mobile\:placeholder\:text-gray-500::placeholder {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity, 1));
  }

  .mobile\:hover\:bg-gray-100:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
  }
}

@media (min-width: 1000px) {
  .desktop\:fixed {
    position: fixed;
  }

  .desktop\:absolute {
    position: absolute;
  }

  .desktop\:relative {
    position: relative;
  }

  .desktop\:bottom-\[10px\] {
    bottom: 10px;
  }

  .desktop\:left-\[10px\] {
    left: 10px;
  }

  .desktop\:right-0 {
    right: 0px;
  }

  .desktop\:right-4 {
    right: 1rem;
  }

  .desktop\:top-\[14px\] {
    top: 14px;
  }

  .desktop\:top-full {
    top: 100%;
  }

  .desktop\:z-40 {
    z-index: 40;
  }

  .desktop\:z-50 {
    z-index: 50;
  }

  .desktop\:mx-1 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }

  .desktop\:mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .desktop\:mx-4 {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .desktop\:mb-0 {
    margin-bottom: 0px;
  }

  .desktop\:mt-10 {
    margin-top: 2.5rem;
  }

  .desktop\:mt-5 {
    margin-top: 1.25rem;
  }

  .desktop\:block {
    display: block;
  }

  .desktop\:flex {
    display: flex;
  }

  .desktop\:grid {
    display: grid;
  }

  .desktop\:hidden {
    display: none;
  }

  .desktop\:h-\[100px\] {
    height: 100px;
  }

  .desktop\:h-\[176px\] {
    height: 176px;
  }

  .desktop\:h-\[20px\] {
    height: 20px;
  }

  .desktop\:h-\[225px\] {
    height: 225px;
  }

  .desktop\:h-\[230px\] {
    height: 230px;
  }

  .desktop\:h-\[264px\] {
    height: 264px;
  }

  .desktop\:h-\[55px\] {
    height: 55px;
  }

  .desktop\:h-\[60px\] {
    height: 60px;
  }

  .desktop\:h-\[80px\] {
    height: 80px;
  }

  .desktop\:h-\[inherit\] {
    height: inherit;
  }

  .desktop\:h-auto {
    height: auto;
  }

  .desktop\:h-full {
    height: 100%;
  }

  .desktop\:w-1\/2 {
    width: 50%;
  }

  .desktop\:w-\[100\%\] {
    width: 100%;
  }

  .desktop\:w-\[1000px\] {
    width: 1000px;
  }

  .desktop\:w-\[100px\] {
    width: 100px;
  }

  .desktop\:w-\[125px\] {
    width: 125px;
  }

  .desktop\:w-\[1300px\] {
    width: 1300px;
  }

  .desktop\:w-\[15\%\] {
    width: 15%;
  }

  .desktop\:w-\[165px\] {
    width: 165px;
  }

  .desktop\:w-\[181px\] {
    width: 181px;
  }

  .desktop\:w-\[320px\] {
    width: 320px;
  }

  .desktop\:w-\[55px\] {
    width: 55px;
  }

  .desktop\:w-\[660px\] {
    width: 660px;
  }

  .desktop\:w-full {
    width: 100%;
  }

  .desktop\:w-\[270px\] {
    width: 270px;
  }

  .desktop\:flex-1 {
    flex: 1 1 0%;
  }

  .desktop\:flex-grow {
    flex-grow: 1;
  }

  .desktop\:grow {
    flex-grow: 1;
  }

  .desktop\:cursor-pointer {
    cursor: pointer;
  }

  .desktop\:grid-cols-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }

  .desktop\:grid-rows-2 {
    grid-template-rows: repeat(2, minmax(0, 1fr));
  }

  .desktop\:content-center {
    align-content: center;
  }

  .desktop\:items-center {
    align-items: center;
  }

  .desktop\:justify-center {
    justify-content: center;
  }

  .desktop\:justify-between {
    justify-content: space-between;
  }

  .desktop\:gap-2 {
    gap: 0.5rem;
  }

  .desktop\:gap-4 {
    gap: 1rem;
  }

  .desktop\:gap-x-6 {
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
  }

  .desktop\:space-x-4 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem * var(--tw-space-x-reverse));
    margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
  }

  .desktop\:overflow-x-auto {
    overflow-x: auto;
  }

  .desktop\:whitespace-nowrap {
    white-space: nowrap;
  }

  .desktop\:rounded-full {
    border-radius: 9999px;
  }

  .desktop\:rounded-lg {
    border-radius: 0.5rem;
  }

  .desktop\:rounded-\[25px\] {
    border-radius: 25px;
  }

  .desktop\:border {
    border-width: 1px;
  }

  .desktop\:border-gray-300 {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity, 1));
  }

  .desktop\:bg-\[\#029A49\] {
    --tw-bg-opacity: 1;
    background-color: rgb(2 154 73 / var(--tw-bg-opacity, 1));
  }

  .desktop\:bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
  }

  .desktop\:bg-transparent {
    background-color: transparent;
  }

  .desktop\:bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  }

  .desktop\:object-cover {
    -o-object-fit: cover;
       object-fit: cover;
  }

  .desktop\:p-5 {
    padding: 1.25rem;
  }

  .desktop\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .desktop\:px-11 {
    padding-left: 2.75rem;
    padding-right: 2.75rem;
  }

  .desktop\:px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .desktop\:px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .desktop\:px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .desktop\:py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .desktop\:py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .desktop\:pb-2 {
    padding-bottom: 0.5rem;
  }

  .desktop\:pt-5 {
    padding-top: 1.25rem;
  }

  .desktop\:font-\[sans\] {
    font-family: sans;
  }

  .desktop\:text-\[12px\] {
    font-size: 12px;
  }

  .desktop\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .desktop\:font-bold {
    font-weight: 700;
  }

  .desktop\:text-\[sans\] {
    color: sans;
  }

  .desktop\:text-gray-300 {
    --tw-text-opacity: 1;
    color: rgb(209 213 219 / var(--tw-text-opacity, 1));
  }

  .desktop\:text-gray-600 {
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity, 1));
  }

  .desktop\:text-gray-700 {
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity, 1));
  }

  .desktop\:shadow-lg {
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  .desktop\:shadow-md {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  .desktop\:outline-none {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }

  .desktop\:transition {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  .desktop\:placeholder\:text-gray-500::-moz-placeholder {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity, 1));
  }

  .desktop\:placeholder\:text-gray-500::placeholder {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity, 1));
  }

  .desktop\:hover\:bg-gray-100:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
  }

  .desktop\:hover\:bg-white:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  }

  .desktop\:hover\:text-red-600:hover {
    --tw-text-opacity: 1;
    color: rgb(220 38 38 / var(--tw-text-opacity, 1));
  }

  .group:hover .desktop\:group-hover\:block {
    display: block;
  }
}
